# configure your keys here
OLLAMA_BASE_URL=http://localhost:11434/v1
GROQ_API_KEY=
GITHUB_API_KEY=
HF_TOKEN=
OPENROUTER_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
LOGFIRE_TOKEN=pylf_v2_us_929776a9-8bc6-4a15-aade-34aa55024b01_STjL152HdFwLP5wMBzvPRJ9fmcw58HBv1CQBMGjT95ss
