# api keys
GROQ_API_KEY=
GITHUB_API_KEY=
HF_TOKEN=
OPENAI_API_KEY=
GEMINI_API_KEY=
OPENROUTER_API_KEY=
LOGFIRE_TOKEN=pylf_v2_us_929776a9-8bc6-4a15-aade-34aa55024b01_STjL152HdFwLP5wMBzvPRJ9fmcw58HBv1CQBMGjT95ss
OLLAMA_BASE_URL=http://localhost:11434/v1

# redis settings
REDIS_HOST=localhost
REDIS_PORT=6379

# uvicorn
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

# middleware
ALLOW_ORIGINS=http://localhost:3000

# chat-agent
MODEL=ollama:llama3-groq-tool-use:8b